<header>
	@if (Docomb.WebReader.SiteEnvironment.Instance?.Workspaces?.Count > 1)
	{
		<nav class="workspaces">
			@foreach (var workspace in Docomb.WebReader.SiteEnvironment.Instance?.Workspaces)
			{
				<a href="@workspace.FullUrl" class="@((workspace.Is(ViewBag.Context?.Workspace)) ? "selected" : "")"><span>@workspace.Name</span></a>
			}
		</nav>
	}

	<div class="pageTitle">
		@{ List<Docomb.ContentStorage.ContentItemSummary> parents = ViewBag.Context?.GetParents(); }
		@if (parents?.Count > 0)
		{
			<nav class="breadcrumbs">
				@foreach (var parent in parents)
				{
					<a href="@parent.FullUrl">@parent.Title</a>
					<span class="separator">›</span>
				}
			</nav>
		}
		<h1>@(ViewBag.Title ?? Docomb.WebCore.Configurations.MainConfig.Instance.SiteName)</h1>
	</div>
</header>